/*Mobile*/
body{
  background: #1b998b;
  font-family: Courier, Bookman, Helvetica Neue, Helvetica, Arial;
  color: white;
  text-decoration: none;
  overflow-x: hidden;
  height: 100%
  font-size: 1.3em;
}
hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0); 
}
.h0 {
  font-size: 13vw;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h3 {
  font-size: 3.5vw;
}
.center {
  text-align: center;
}
#iconPanel .label{
  opacity: 0;
}
#iconPanel a:hover + .label {
  opacity: 100;
  transition: opacity 0.3s;
}
#iconPanel {
  text-align: justify;
  /* border-top: solid 30px; */
  margin: 30px 4vw 0 4vw;
}
#iconPanel div {
  text-align: center;
  display: inline-block;
}
#iconPanel img {
  height: 7vw;
}
#iconPanel:after {
  content: ' ';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
  .h0 {
    font-size: 5em;
  }
  h3 {
    font-size: 2em;
  }
}